Projects/Configuration - 6025/Project2/Project2/xmlfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GameLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GameName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="asset">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="root" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="file" type="xs:string" />
                    <xs:element minOccurs="0" name="attributes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="type" type="xs:string" />
                          <xs:element minOccurs="0" name="genre" type="xs:string" />
                          <xs:element minOccurs="0" name="format" type="xs:string" />
                          <xs:element minOccurs="0" name="vertex" type="xs:unsignedInt" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="property">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="type" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="face" type="xs:unsignedInt" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="info" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="optional" />
            <xs:attribute name="open" type="xs:string" use="optional" />
            <xs:attribute name="subdir" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>